*.cpp linguist-vendored  
*.h linguist-vendored  
*.cc linguist-vendored  
windows/* linguist-vendored  
android/* linguist-vendored  
ios/* linguist-vendored  
linux/* linguist-vendored  
macos/* linguist-vendored 
